# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.orig
.DS_Store
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.sublime-project
*.sublime-workspace
.history/
*.code-workspace

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
**/doc/api/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
/android/.gradle/
android/.idea/
android/local.properties
android/captures/
android/.cxx/
android/app/build/
android/app/debug/
android/app/profile/
android/app/release/

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
linux/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/runner/Release/
windows/runner/Debug/
windows/build/

# Obfuscation / symbol files
app.*.symbols
app.*.map.json

# SwiftPM
.swiftpm/
Packages/

# Version control / migrations
.svn/
migrate_working_dir/

# Logs / temp files
*.tmp
*.temp
*.bak
*.swp
*.lock
